coverage==3.7.1
django==1.6
django_extensions
django-manager-utils==0.3.6
django-nose
pep8
psycopg2==2.4.5
pyflakes
pytz==2013.9
south==0.7.6
Werkzeug==0.8.3

git+git://github.com/toastdriven/django-tastypie.git@2a07c3d84746e0799cc3a25ec34fb36b4bbe067f
